@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /* max-width: 1440px; */
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*!  FOOTER  !*/

.footer {
  width: 100%;
  height: 100px;
  flex: 0 0 auto;
  background-color: #5600e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.year {
  font-size: 16px;
  color: #ffffff;
}

.github {
  margin: 1rem;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 1180px) {
  .header,
  .header_country {
    padding: 0 30px;
  }
}

@media (max-width: 800px) {
  .developers {
    display: flex;
    flex-direction: column;
  }

  .github {
    margin: 5px;
    font-size: 14px;
  }

  .footer {
    height: max-content;
  }
}

.slide-word {
  /* opacity: 0; */
}

.slide-word.entering {
  animation: slideDown 5s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
    /* opacity: 1; */
  }
  100% {
    transform: translateY(300px);
    /* opacity: 0; */
  }
}
